---

import Layout from '../../layouts/Layout.astro';
import SingleVerb from '../../components/SingleVerb.astro';

import {getVerbs, } from '../utils'
 
export async function getStaticPaths() {
	const posts = await getVerbs();
	
	return posts.map((verb) => {
		return {
			params: {
				slug: verb.slug 
			},
			props: {
				verb,
			},
		}
	})
}

const { verb } = Astro.props
---

<Layout title={verb.name}>
	<h1>[{verb.name}] Page</h1>
	<SingleVerb verb={verb} />
</Layout>




