---
import Layout from '@layouts/Layout.astro';
import AllVerbs from '@components/AllVerbs.astro';

// export const prerender = true
---

<Layout title="Verbs Page">

    <h1>Verbs Page</h1>

    <AllVerbs />
</Layout>
