---
import Layout from '../../layouts/Layout.astro';

import { getVerbs } from '../utils'

let allVerbs = await getVerbs();
---

<Layout title="Welcome to Astro.">
    {allVerbs.map((verb: any) => {
        return (
            <div>
                <a href={`/verbs/${verb.slug}`}>{`/verb/${verb.name}`}</a>
                <h2>{verb.definition}</h2>
            </div>
        )
    })}
</Layout>
