---
import type { Verb } from "../scraper/types/verb";

interface Props {
  verbForm: Verb;
}

const { verbForm } = Astro.props;
---

<table>
  {
    Object.entries(verbForm).map(([key, value]) => {
      return (
        <tr>
          <td>{key}</td>
          <td>{value}</td>
        </tr>
      );
    })
  }
</table>

<style>
  table {
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  td,
  th {
    border: 1px solid orange;
    padding: 0.25rem;
    text-align: center;
  }
</style>
